a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.sidebar-menu-handle {
    cursor: pointer;
    background-color: #18384a;
    border-radius:10px 0 0 10px;
    width:30px;
    height:50px;
    left:-30px;
}

.sidebar-menu-handle .sidebar-menu-handle-icon {
    width:30px;
    height:50px;
}

.sidebar {
    background-color: #317094;
    color: white;
    height: 100vh;
}

.sidebar.expanded {
    min-width: 80vw;
    position: fixed;
    right: 0;
}

.sidebar:not(.expanded) {
    max-width: 0;
    position: fixed;
    right: 0;
    top: 0;
}

@media (min-width: 768px) {
    .sidebar.expanded {
        min-width: clamp(20rem, 20vw, 20vw);
        position: static;
        right: inherit;
    }
    .sidebar:not(.expanded) {
        min-width: clamp(20rem, 20vw, 20vw);
        position: static;
        right: inherit;
    }
}

.sidebar a {
    color:white;
}

.sidebar ul li {
    list-style-type: none;
    list-style-position: outside;
}

.sidebar ul li.highlighted {
    margin: 10px;
    padding: 5px;
}

.sidebar ul li.highlighted::before {
    content: "⮞ ";
    color: white;
}

.sidebar .sidebar-header {
    position: sticky;
    top: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #18384a;
    z-index: 100;
}

.sidebar .sidebar-header .nav-tabs {
    border-bottom: 0;
}

.sidebar .sidebar-header .nav-tabs .active {
    color: white;
    background-color: #317094;
    border-bottom-width: 0;
}

.sidebar .sidebar-header .nav-link:hover {
    color: white;
}

.sidebar .sidebar-footer {
    position: sticky;
    bottom: 0;
    height: 120px;
    background-color: #18384a;
    z-index: 100;
}

.sidebar .sidebar-content {
    padding: 1rem;
    overflow-y: scroll;
}

.sidebar .sidebar-search-area {
    padding-bottom: 1rem;
}

#accordionCategory {
    padding: 10px;
}

#accordionCategory .accordion-body a {
    color: #0d6efd;
}

#accordionCategorys ul li.highlighted::before {
    color: #0d6efd;
}

.show-me-highlighted {
    animation: pulse-white 1s 2;
}

@keyframes pulse-white {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

figure.image.align-right {
    float: right;
}

figure.image.align-left {
    float: left;
}
