@media (min-width: 768px) {
    .mainrow {
        height: 100vh;
    }
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.sidebar {
    background-color: #317094;
    color: white;
}

.sidebar a {
    color:white;
}

.sidebar a.selector_type_link.selected {
    text-decoration: none;
}

.sidebar ul li {
    list-style-type: none;
    list-style-position: outside;
}

.sidebar ul li.highlighted {
    margin: 10px;
    padding: 5px;
}

.sidebar ul li.highlighted::before {
    content: "⮞ ";
    color: white;
}

.sidebar .sidebar-header {
    position: sticky;
    top: 0;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #18384a;
    z-index: 100;
}

.sidebar .sidebar-content {
    padding: 1rem;
}

.sidebar .sidebar-search-area {
    padding-bottom: 1rem;
}

#selector_type_category {
    padding: 10px;
}

#selector_type_category .accordion-body a {
    color: #0d6efd;
}

#selector_type_category ul li.highlighted::before {
    color: #0d6efd;
}
