@font-face {
    font-family: GentiumPlusW;
    src: url(/fonts/GentiumPlus-R.woff);
}
@font-face {
    font-family: GentiumPlusW;
    font-style: italic;
    src: url(/fonts/GentiumPlus-I.woff);
}
@font-face {
    font-family: Miklosic2;
    src: url("/fonts/Miklosic2.woff")
}
@font-face {
    font-family: Miklosic2;
    src: url("/fonts/Miklosic2.ttf") /* TTF file for CSS3 browsers */
}

.left { text-align: left }
    .right { text-align: right }
   .center { text-align: center }

span[lang]
{
   font-style: italic;
}

span[lang=ru], span[lang=orv], span[lang=cu], span[lang=grc], span[lang=xcl], span[lang=chu], div.glossed_text span[lang], div.boxey span[lang]
{
   font-style: normal;
}

/* Note that this is replicated in adminstyle.css */
[lang] { font-family: Arial Unicode MS, ALPHABETUM Unicode, TITUS Cyberbit Basic, GentiumPlusW, Code2000, Lucida Sans Unicode, Lucida Grande, Everson Mono Unicode, Arial, Helvetica, sans-serif;}

[lang=cu] { font-family: Miklosic2, sans-serif;font-size:120%; }
[lang=chu] { font-family: Miklosic2, sans-serif;font-size:120%; }
[lang=orv] { font-family: Miklosic2, sans-serif;font-size:120%; }

[lang=sa] { font-family: GentiumPlusW, sans-serif; }
[lang=grc] { font-family: GentiumPlusW, sans-serif;  }
[lang=la] { font-family: GentiumPlusW, sans-serif;  }
[lang=xcl] { font-family: Arial Unicode MS, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, sans-serif;  }

.lang_list{
	list-style-type: none;
}

.lang_sub_family{
  display: inline-block;
  padding-top:2px;
  padding-bottom:2px;
  padding-left: 30px;
}

.lang_entry_1 {
  width: 200px;
  display: inline-block;
  padding-top:2px;
  padding-bottom:2px;
  padding-left: 60px;
}

.lang_entry_2 {
  width: 175px;
  display: inline-block;
}

.lang_entry_3 {
  display: inline-block;
  width: 200px;
}

.gloss {
	display: none;
}

.reflexTable {

}

.reflexTableContainer {
	width: 98%;
}

.reflexTableContainer select {
	width: 50px;
	height: auto;
	padding: 1px;
	margin: 1px;
}

.reflexTableContainer input {
	width: auto;
	height: auto;
	padding: 1px;
	margin: 1px;
	float: right;
}

a.clicked:focus {
	color:purple;
}

.clicked {
	color: purple;
}

.boxey {
	border-style: solid;
    border-width: 1px;
    min-height: 5px;
    margin: 5px;
    padding: 3px;
}

.boxey ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	font-size: 1rem;
}

.expand_all {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.collapse_all {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: purple;
}

#no_bullets ul {
	list-style-type: none;
}

.skinny ul {
	margin: 0px;
	padding: 0px;
}

.skinny ol {
	margin: 0px 0px 0px 30px;
	padding: 0px;
}

.skinny li {
	margin: 0px;
	padding: 0px 0px 0px 20px;
}


@page
{
    size: auto;   /* auto is the initial value */

    /* this affects the margin in the printer settings */
    margin: 25mm 15mm 25mm 15mm;
}

.printable_footer {
	page-break-after: always;
}



/*  Adding Donate Button  */

#donate-button {
	padding: 15px 75px 4px 75px;
	text-align: center;
}

#donate-button > a > h3 {
	background-color: #3b80d0;
	color: #FFF;
	display: inline;
	width: 50%;
	padding: 5px 10px 5px 10px;
	font-weight: normal;
	font-size: 13pt;
	letter-spacing: 1.2px;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* future proofing */
	-khtml-border-radius: 4px; /* for old Konqueror browsers */
}

#donate-button > a > h3:hover {
	background-color: #71251e;
}

#donate-button > a {
	text-decoration: none;
}

#donate-button > p {
	margin-top: 8px;
	margin-bottom: 1px;
}

#donate-button > p > a {
	text-decoration: none;
	font-size: 12pt;
}

#donate-button > p > a:hover {
	color: #71251e;
}

pre {
white-space: pre-wrap;
}

/* for pretty printing */
@media print
{
  table { page-break-after:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }
  h1, h2, h3, h4, h5 { page-break-after: avoid }
  .glossed_text { page-break-inside: avoid}
  .boxey { page-break-inside: avoid}
  .unbreakable { page-break-inside: avoid}
}
