     .left { text-align: left }
    .right { text-align: right }
   .center { text-align: center }

  .Unicode { font-family: Arial Unicode MS, ALPHABETUM Unicode, TITUS Cyberbit Basic, Gentium, Code2000, Lucida Sans Unicode, Lucida Grande, Everson Mono Unicode, Arial, Helvetica, sans-serif }
 .Cyrillic { font-family: Arial Unicode MS, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, sans-serif }
 .Sanskrit { font-family: Arial Unicode MS, Gentium, ALPHABETUM Unicode, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, sans-serif }
 .SanskMrv { font-family: Arial Unicode MS, Gentium, ALPHABETUM Unicode, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, sans-serif; font-size: 11pt }
 .SanskPop { font-family: Arial Unicode MS, Gentium, ALPHABETUM Unicode, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, sans-serif; font-size: 9pt; color: #008080 }
 .SanskDbt { font-family: Arial Unicode MS, Gentium, ALPHABETUM Unicode, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, sans-serif; font-size: 9pt }
 .SanskExt { font-family: Arial Unicode MS, Gentium, ALPHABETUM Unicode, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, sans-serif }
    .Sansk { font-family: Lucida Sans Unicode, Arial Unicode MS, Gentium, ALPHABETUM Unicode, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, sans-serif }
 .GreekExt { font-family: Palatino Linotype, Gentium, Arial Unicode MS, ALPHABETUM Unicode, TITUS Cyberbit Basic, Code2000, New Athena Unicode, Vusillus, Lucida Grande, Vusillus Old Face Italic, Everson Mono Unicode, sans-serif }
    .Greek { font-family: Gentium, Arial Unicode MS, Lucida Sans Unicode, ALPHABETUM Unicode, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, sans-serif }
    .Latin { font-family: Gentium, Palatino Linotype, Lucida Sans Unicode, Arial Unicode MS, ALPHABETUM Unicode, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, Arial, Helvetica, sans-serif }
    .Armen { font-family: Arial Unicode MS, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, sans-serif }
    

.lang_list{
	list-style-type: none;
}

.lang_sub_family{
  display: inline-block;
  padding-top:2px;
  padding-bottom:2px;
  padding-left: 30px;
}

.lang_entry_1 {
  width: 200px;
  display: inline-block;
  padding-top:2px;
  padding-bottom:2px;
  padding-left: 60px;
}

.lang_entry_2 {
  width: 175px;
  display: inline-block;
}

.lang_entry_3 {
  display: inline-block;
  width: 200px;
}

.gloss {
	display: none;
}

.reflexTable {
	display: none;
}

.clicked {
	color: purple;
}

.boxey {
	border-style: solid;
    border-width: 1px;
    min-height: 5px;
    margin: 5px;
    padding: 3px;
}

.expand_all {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.collapse_all {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: purple;
}

.skinny ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.skinny ol {
	margin: 0px 0px 0px 30px;
	padding: 0px;
}

.skinny li {
	margin: 0px;
	padding: 0px 0px 0px 30px;
}