     .left { text-align: left }
    .right { text-align: right }
   .center { text-align: center }

  .Unicode { font-family: Arial Unicode MS, ALPHABETUM Unicode, TITUS Cyberbit Basic, Gentium, Code2000, Lucida Sans Unicode, Lucida Grande, Everson Mono Unicode, Arial, Helvetica, sans-serif; font-style: italic; }
 .Cyrillic { font-family: Arial Unicode MS, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, sans-serif; font-style: italic; }
 .Sanskrit { font-family: Arial Unicode MS, Gentium, ALPHABETUM Unicode, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, sans-serif; font-style: italic; }
 .SanskMrv { font-family: Arial Unicode MS, Gentium, ALPHABETUM Unicode, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, sans-serif; font-size: 11pt; font-style: italic; }
 .SanskPop { font-family: Arial Unicode MS, Gentium, ALPHABETUM Unicode, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, sans-serif; font-size: 9pt; color: #008080; font-style: italic; }
 .SanskDbt { font-family: Arial Unicode MS, Gentium, ALPHABETUM Unicode, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, sans-serif; font-size: 9pt; font-style: italic; }
 .SanskExt { font-family: Arial Unicode MS, Gentium, ALPHABETUM Unicode, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, sans-serif; font-style: italic; }
    .Sansk { font-family: Lucida Sans Unicode, Arial Unicode MS, Gentium, ALPHABETUM Unicode, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, sans-serif; font-style: italic; }
 .GreekExt { font-family: Palatino Linotype, Gentium, Arial Unicode MS, ALPHABETUM Unicode, TITUS Cyberbit Basic, Code2000, New Athena Unicode, Vusillus, Lucida Grande, Vusillus Old Face Italic, Everson Mono Unicode, sans-serif; font-style: italic; }
    .Greek { font-family: Gentium, Arial Unicode MS, Lucida Sans Unicode, ALPHABETUM Unicode, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, sans-serif; font-style: italic; }
    .Latin { font-family: Gentium, Palatino Linotype, Lucida Sans Unicode, Arial Unicode MS, ALPHABETUM Unicode, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, Arial, Helvetica, sans-serif; font-style: italic; }
    .Armen { font-family: Arial Unicode MS, TITUS Cyberbit Basic, Code2000, Lucida Grande, Everson Mono Unicode, sans-serif; font-style: italic; }
    

.lang_list{
	list-style-type: none;
}

.lang_sub_family{
  display: inline-block;
  padding-top:2px;
  padding-bottom:2px;
  padding-left: 30px;
}

.lang_entry_1 {
  width: 200px;
  display: inline-block;
  padding-top:2px;
  padding-bottom:2px;
  padding-left: 60px;
}

.lang_entry_2 {
  width: 175px;
  display: inline-block;
}

.lang_entry_3 {
  display: inline-block;
  width: 200px;
}

.gloss {
	display: none;
}

.reflexTable {
	display: none;
}

.reflexTableContainer {
	width: 98%;
}

.reflexTableContainer select {
	width: 50px;
	height: auto;
	padding: 1px;
	margin: 1px;
}

.reflexTableContainer input {
	width: auto;
	height: auto;
	padding: 1px;
	margin: 1px;
	float: right;
}

a.clicked:focus {
	color:purple;
}

.clicked {
	color: purple;
}

.boxey {
	border-style: solid;
    border-width: 1px;
    min-height: 5px;
    margin: 5px;
    padding: 3px;
}

.boxey ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	font-size: 1rem;
}

.expand_all {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.collapse_all {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: purple;
}

#no_bullets ul {
	list-style-type: none;
}

.skinny ul {
	margin: 0px;
	padding: 0px;
}

.skinny ol {
	margin: 0px 0px 0px 30px;
	padding: 0px;
}

.skinny li {
	margin: 0px;
	padding: 0px 0px 0px 20px;
}


@page  
{ 
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 25mm 15mm 25mm 15mm;  
} 

.printable_footer {
	page-break-after: always;
}



/*  Adding Donate Button  */

#donate-button {
	padding: 15px 75px 4px 75px;	
	text-align: center;
}

#donate-button > a > h3 {
	background-color: #3b80d0;
	color: #FFF;
	display: inline;
	width: 50%;
	padding: 5px 10px 5px 10px;
	font-weight: normal;
	font-size: 13pt;
	letter-spacing: 1.2px;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* future proofing */
	-khtml-border-radius: 4px; /* for old Konqueror browsers */
}

#donate-button > a > h3:hover {
	background-color: #71251e;
}

#donate-button > a {
	text-decoration: none;
}

#donate-button > p {
	margin-top: 8px;
	margin-bottom: 1px;
}

#donate-button > p > a {
	text-decoration: none;
	font-size: 12pt;
}

#donate-button > p > a:hover {
	color: #71251e;
}