#/node_modules
/public/hot
/public/storage
/storage/*.key
# /vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

public/css/admin.css
public/js/admin.js
public/js/manifest.js
public/js/vendor.js
public/js/*.js.map
public/js/icons
public/mix-manifest.json

node_modules/gifsicle/vendor/
node_modules/mozjpeg/vendor/
node_modules/node-sass/vendor/
node_modules/optipng-bin/vendor/
node_modules/pngquant-bin/vendor/
node_modules/.cache
